state/validator.asl.json
{
  "Comment": "Login process with choice states",
  "StartAt": "Verify Login",
  "States": {
    "Verify Login": {
      "Type": "Task",
      "Resource": "${LoginVerificationFunctionArn}",
      "Next": "Is Login Successful?"
    },
    "Is Login Successful?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusCode",
          "NumericEquals": 200,
          "Next": "Generate Token"
        },
        {
          "Variable": "$.statusCode",
          "NumericEquals": 401,
          "Next": "Fail Login"
        }
      ],
      "Default": "Fail Login"
    },
    "Generate Token": {
      "Type": "Task",
      "Resource": "${GenerateTokenFunctionArn}",
      "End": true
    },
    "Fail Login": {
      "Type": "Fail",
      "Cause": "Invalid credentials",
      "Error": "LoginFailed"
    }
  }
}
